/*
    1. Etiquetas
*/
body{
    font-family: "Arial";
}

header{
    width: 100;
    text-align: center;
    padding: 5px;
    border: 1px solid lightskyblue;
    margin-bottom: 10px;
}

/*
    2. Ids
*/
section#derReservados{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}

/*
    3. Clases
*/
section.mainBlock{
    display: block;
    width: 100%;
    background-color: wheat;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

div.fotos figure img{
    width: 100%;
    height: auto;
}